@using MVC_CORE.DDL.Entities;
@model ApplicationUser
@{

    ViewData["Title"] = "Delete User";
}
<div class="card border-danger mb-3" style="max-width: 70%; margin-left:200px;">
    <div class="card-header">Delete User </div>
    <div class="card-body">
        <h3>Are You Sure You Want To Delete This User! </h3>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id">
            <div class="row" style=" margin-left:200px;">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="UserName" class="form-label mt-2"></label>
                        <input class="form-control" asp-for="UserName" readonly>
                    </div>

                </div>
            </div>
            <div class="row mt-3" style=" margin-left:200px;">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="form-label mt-2"></label>

                        <input class="form-control" asp-for="PhoneNumber" readonly>
                    </div>

                </div>
            </div>
            <div class="row mt-3" style=" margin-left:200px;">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Id" class="form-label mt-2"></label>

                        <input class="form-control" asp-for="Id" readonly>
                    </div>

                </div>
            </div>
            <div class="row mt-3" style=" margin-left:350px;">
                <div class="col-md-8">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-danger">Back</a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-trash"></i>
                            Delete
                        </button>
                    </div>
                </div>


        </form>

    </div>
</div>