@{
    ViewData["Title"] = "Access denied";
}

<div class="alert alert-dismissible alert-danger " style="margin-top:100px;">
    <h1 class="alert-heading">Access Denied !</h1>
    <h3 class="mb-0">You do not have access to this resource</h3>
</div>