@{

    Layout = "_AuthenticationLayout";
    ViewData["Title"] = "Complete Forget Password";

}
    <div class="login_form">
        <h2>Complete Forget Password</h2>
        <div id="login_button">

    <h3>Reset Password Link has been sent to your inbox</h3>
        <h3 style="margin-top:30px;"> Please , Check <a style="color:antiquewhite; text-decoration:none" href="https://mail.google.com/mail/u/1/#inbox">Your Inbox!</a> </h3>
    </div>
