@using MVC_CORE_Application.Models.ViewModel
@model ForgetPasswordViewModel
@{
    ViewData["title"] = "Forget Password";
    Layout = "_AuthenticationLayout";
}
<form asp-action="ForgetPassword">
    <div class="login_form">
        <h2>Forget Password</h2>
        <div class="input_group">

            <input type="email" asp-for="Email" placeholder="Email" class="input_text" autocomplete="off" />
        </div>
        <span asp-validation-for="Email" style="color:darkorchid; margin-top:10px;"></span>

        <div id="login_button">

            <button style="color: #00ccff;" type="submit">Forget Password</button>
        </div>

    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
