@using MVC_CORE_Application.Models.ViewModel
@model LoginViewModel
@{
    ViewData["title"] = "Login";
    Layout = "_AuthenticationLayout";
}
<form asp-action="Login">
    <div class="login_form">
        <h2>Login</h2>
        <div class="input_group">

            <input type="email" asp-for="Email" placeholder="Email" class="input_text" autocomplete="off" />
        </div>
        <span asp-validation-for="Email" style="color:darkorchid; margin-top:10px;"></span>

        <div class="input_group">
            <input type="password" asp-for="Password" placeholder="Password" class="input_text" autocomplete="off" />

        </div>
        <span asp-validation-for="Password" style="color:darkorchid;; margin-top:10px;"></span>


        <div class="fotter">
            <div class="form-check" style="margin-top:50px;">
                <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="flexCheckDefault" />
                <span asp-validation-for="RememberMe" style="color:darkorchid;;margin-top:10px;"></span>

                <label class="form-check-label" for="flexCheckDefault">
                    Remember Me
                </label>
            </div>
            <a style="margin-top:45px;color: #00ccff;" asp-action="Register">Register</a>

        </div>
        <div id="login_button">

            <button style="color: #00ccff;" type="submit">Login</button>
        </div>
        <div style="margin-top:30px;">

            <a style="margin-top:45px;color:#00ccff; text-decoration:none;
              font-size:large;margin-left:70px;"
               asp-action="ForgetPassword">Forget Password</a>
        </div>


    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
