@using MVC_CORE_Application.Models.ViewModel
@model ResetPasswordViewModel
@{
    ViewData["title"] = "Reset Password";
    Layout = "_AuthenticationLayout";
}

<form asp-action="Reset Password">
    <div class="login_form">
        <h2>Login</h2>

        <div class="input_group">
            <input type="password" asp-for="NewPassword" placeholder="NewPassword" class="input_text" autocomplete="off" />

        </div>
        <span asp-validation-for="NewPassword" style="color:darkorchid;; margin-top:10px;"></span>
        <div class="input_group">
            <input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" class="input_text" autocomplete="off" />

        </div>
        <span asp-validation-for="ConfirmPassword" style="color:darkorchid;; margin-top:10px;"></span>



 
        <div id="login_button">

            <button style="color: #00ccff;" type="submit">Reset Passowrd</button>
        </div>



    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}